# Data wrangling with Pandas exercise
* For this exercise we will be using the `listings.csv` data file.

In [2]:
import pandas as pd
import numpy as np

# Load in the data file using `pd.read_csv()`

In [3]:
# Load data here

df = pd.read_csv('data/listings.csv')
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,175,3,48,2019-11-04,0.37,2,365
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,75,1,340,2020-08-01,4.75,1,265
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,29,50,2019-12-02,0.37,1,365
3,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.66120,-73.99423,Entire home/apt,175,14,1,2014-01-02,0.01,1,295
4,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,65,2,473,2020-03-15,3.44,1,340

## Exercise 2 - Filtering

Return the following subsets of the dataframe.

1. How many listings are there with a price less than 100? 


2. Find how many listings there are in just Brooklyn.


3. Find how many listings there are in Brooklyn with a price less than 100.


4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.


5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  The prices for all other listings should be the same as the were before. 


6. What % of the rooms are private, and what % of the rooms are shared.  
    * Hint, use `.value_counts()`

In [4]:
# 1. How many listings are there with a price less than 100? 

selection=df['price']<100
selection

0        False
1         True
2         True
3        False
4         True
         ...
46522    False
46523     True
46524     True
46525     True
46526     True
Name: price, Length: 46527, dtype: bool

In [5]:
# 2. Make a new DataFrame of listings in Brooklyn named `df_bk` 
# and find how many listings in just Brooklyn.

new_selection=df['neighbourhood_group']=='Brooklyn'
df_bk=df[new_selection]
df_bk

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,75,1,340,2020-08-01,4.75,1,265
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,29,50,2019-12-02,0.37,1,365
3,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.66120,-73.99423,Entire home/apt,175,14,1,2014-01-02,0.01,1,295
8,5803,"Lovely Room 1, Garden, Best Area, Legal rental",9744,Laurie,Brooklyn,South Slope,40.66829,-73.98779,Private room,88,4,180,2020-03-18,1.31,3,344
11,6848,Only 2 stops to Manhattan studio,15991,Allen & Irina,Brooklyn,Williamsburg,40.70837,-73.95352,Entire home/apt,109,2,181,2020-03-16,1.32,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46517,44802032,A very large room in Williamsburg,213793805,Omer,Brooklyn,Williamsburg,40.71970,-73.95632,Private room,55,14,0,NaN,NaN,1,45
46518,44802224,Unique & beautiful design! Skylights-Washer/dryer,143513836,Elisabeth,Brooklyn,Crown Heights,40.67302,-73.91695,Private room,61,30,0,NaN,NaN,5,363
46519,44803201,1200 SF Duplex apt in an old shoe factory/ mon...,921746,Michael + JosuÃ©,Brooklyn,Clinton Hill,40.69034,-73.96179,Entire home/apt,253,30,0,NaN,NaN,1,74
46524,44811717,Comfortable safe environment 24hr security camera,362453686,Nicole,Brooklyn,East Flatbush,40.65399,-73.93287,Private room,59,3,0,NaN,NaN,1,90
46526,44818009,"5MIN D/N trains, NEAR THE BEACH, 50â€™ TO MANHATTAN",48098268,Marina,Brooklyn,Gravesend,40.59945,-73.98209,Private room,66,1,0,NaN,NaN,1,38

In [6]:
# 3. Find how many listings there are in Brooklyn with a price less than 100.

condition=df['price']<100
condition1=df['neighbourhood_group']=='Brooklyn'
new_filter =df[condition & condition1]
new_filter

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,75,1,340,2020-08-01,4.75,1,265
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,29,50,2019-12-02,0.37,1,365
8,5803,"Lovely Room 1, Garden, Best Area, Legal rental",9744,Laurie,Brooklyn,South Slope,40.66829,-73.98779,Private room,88,4,180,2020-03-18,1.31,3,344
21,10452,Large B&B Style rooms,35935,Angela,Brooklyn,Bedford-Stuyvesant,40.68310,-73.95473,Private room,70,3,75,2019-10-12,0.60,2,365
22,10962,"Lovely Room 2; Garden; Best area, Legal",9744,Laurie,Brooklyn,South Slope,40.66869,-73.98780,Private room,88,4,180,2020-08-03,1.36,3,365
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46510,44798876,Unique & beautiful design! Skylights-Washer/dryer,143513836,Elisabeth,Brooklyn,Crown Heights,40.67156,-73.91651,Private room,61,30,0,NaN,NaN,5,329
46517,44802032,A very large room in Williamsburg,213793805,Omer,Brooklyn,Williamsburg,40.71970,-73.95632,Private room,55,14,0,NaN,NaN,1,45
46518,44802224,Unique & beautiful design! Skylights-Washer/dryer,143513836,Elisabeth,Brooklyn,Crown Heights,40.67302,-73.91695,Private room,61,30,0,NaN,NaN,5,363
46524,44811717,Comfortable safe environment 24hr security camera,362453686,Nicole,Brooklyn,East Flatbush,40.65399,-73.93287,Private room,59,3,0,NaN,NaN,1,90
46526,44818009,"5MIN D/N trains, NEAR THE BEACH, 50â€™ TO MANHATTAN",48098268,Marina,Brooklyn,Gravesend,40.59945,-73.98209,Private room,66,1,0,NaN,NaN,1,38

In [7]:
# 4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.

host_names=['Michael','David','John','Daniel']

df_hostname=df.host_name.isin(host_names)
df[df_hostname]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
52,16595,LOFT HAVEN ~ Six Windows ~ Bricks ~ Plants ~ Q...,64522,Daniel,Brooklyn,Williamsburg,40.70933,-73.96792,Entire home/apt,271,1,172,2020-07-14,1.44,1,365
201,61747,"Cozy, Brooklyn, Prospect Park Studio",299370,David,Brooklyn,Prospect-Lefferts Gardens,40.65979,-73.96180,Entire home/apt,91,14,97,2018-01-31,0.83,1,44
209,62903,Beautiful modern studio apartment in heart of NYC,306605,Daniel,Manhattan,Chelsea,40.74238,-73.99567,Entire home/apt,205,15,68,2019-12-14,0.67,2,89
220,64015,Prime East Village 1 Bedroom,146944,David,Manhattan,East Village,40.72807,-73.98594,Entire home/apt,200,3,0,NaN,NaN,1,0
260,74073,Food & Music Dream Apartment in Williamsburg,211877,Daniel,Brooklyn,Williamsburg,40.71113,-73.96054,Entire home/apt,187,30,90,2020-07-31,0.81,1,261
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46362,44639591,Central & Stylish 1 Bedroom Apt - Heart of Che...,286136716,John,Manhattan,Chelsea,40.74568,-73.99694,Entire home/apt,110,30,0,NaN,NaN,3,110
46396,44661297,Flushing Sunshine home #101,361579037,Daniel,Queens,Flushing,40.74603,-73.82837,Private room,52,1,0,NaN,NaN,2,360
46403,44662157,Flushing Sunshine home #102,361579037,Daniel,Queens,Flushing,40.74441,-73.82829,Private room,55,1,3,2020-08-16,3.00,2,365
46455,44697211,Davidâ€™s Queen Sized Room,343477029,David,Queens,Far Rockaway,40.59460,-73.75875,Private room,95,1,0,NaN,NaN,1,365
46508,44797527,Long-Term: Furnished Apt in Nolita w/ Amenities,19448640,David,Manhattan,Nolita,40.72289,-73.99400,Entire home/apt,140,30,0,NaN,NaN,1,282

In [26]:
# 5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  
# The prices for all other listings should be the same as the were before. 
c1=df['neighbourhood']=='Williamsburg'
df['adjusted_price']=np.where(c1,df['price']+100,df['price'])
df.head()
df[1:52] #to check if works

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,adjusted_price
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,75,1,340,2020-08-01,4.75,1,265,75
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,29,50,2019-12-02,0.37,1,365,60
3,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.66120,-73.99423,Entire home/apt,175,14,1,2014-01-02,0.01,1,295,175
4,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,65,2,473,2020-03-15,3.44,1,340,65
5,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,75,2,118,2017-07-21,0.89,1,0,75
6,5238,Cute & Cozy Lower East Side 1 bdrm,7549,Ben,Manhattan,Chinatown,40.71344,-73.99037,Entire home/apt,140,1,161,2019-07-29,1.21,4,274,140
7,5552,Spacious river view in the West Village,8380,Maria,Manhattan,West Village,40.73552,-74.01042,Entire home/apt,160,3,66,2019-08-10,0.49,1,178,160
8,5803,"Lovely Room 1, Garden, Best Area, Legal rental",9744,Laurie,Brooklyn,South Slope,40.66829,-73.98779,Private room,88,4,180,2020-03-18,1.31,3,344,88
9,6021,Wonderful Guest Bedroom in Manhattan CENTRAL PARK,11528,Claudio,Manhattan,Upper West Side,40.79826,-73.96113,Private room,85,2,123,2019-12-09,0.90,1,365,85
10,6090,West Village Nest - Superhost,11975,Alina,Manhattan,West Village,40.73530,-74.00525,Entire home/apt,65,30,29,2020-07-25,0.22,1,197,65
11,6848,Only 2 stops to Manhattan studio,15991,Allen & Irina,Brooklyn,Williamsburg,40.70837,-73.95352,Entire home/apt,109,2,181,2020-03-16,1.32,1,0,209
12,6990,UES Beautiful Blue Room / 2 Bedrooms,16800,Cyn,Manhattan,East Harlem,40.78962,-73.94802,Entire home/apt,239,4,233,2019-12-09,1.77,1,365,239
13,7097,Perfect for Your Parents + Garden; Germ-Free,17571,Jane,Brooklyn,Fort Greene,40.69121,-73.97277,Entire home/apt,182,1,229,2020-07-20,1.78,2,325,182
14,7750,2 Furnished bedrooms next to Central Park,17985,Sing,Manhattan,East Harlem,40.79685,-73.94872,Private room,96,14,0,NaN,NaN,2,178,96
15,7801,Sweet and Spacious Brooklyn Loft,21207,Chaya,Brooklyn,Williamsburg,40.71842,-73.95718,Entire home/apt,299,3,9,2011-12-28,0.07,1,337,399
16,8490,"MAISON DES SIRENES1,bohemian apartment",25183,Nathalie,Brooklyn,Bedford-Stuyvesant,40.68371,-73.94028,Entire home/apt,120,2,115,2020-08-13,0.86,2,319,120
17,8505,Sunny Bedroom Across Prospect Park,25326,Gregory,Brooklyn,Windsor Terrace,40.65599,-73.97519,Private room,135,1,23,2019-10-14,0.84,2,89,135
18,8700,Magnifique Suite au N de Manhattan - vue Cloitres,26394,Claude & Sophie,Manhattan,Inwood,40.86754,-73.92639,Private room,86,4,0,NaN,NaN,1,0,86
19,9657,Modern 1 BR / NYC / EAST VILLAGE,21904,Dana,Manhattan,East Village,40.72920,-73.98542,Entire home/apt,220,3,33,2019-11-11,0.25,1,90,220
20,9704,Spacious 1 bedroom in luxe building,32045,Teri,Manhattan,Harlem,40.81305,-73.95466,Private room,55,2,98,2020-03-14,1.30,1,354,55
21,10452,Large B&B Style rooms,35935,Angela,Brooklyn,Bedford-Stuyvesant,40.68310,-73.95473,Private room,70,3,75,2019-10-12,0.60,2,365,70
22,10962,"Lovely Room 2; Garden; Best area, Legal",9744,Laurie,Brooklyn,South Slope,40.66869,-73.98780,Private room,88,4,180,2020-08-03,1.36,3,365,88
23,11943,Country space in the city,45445,Harriet,Brooklyn,Flatbush,40.63702,-73.96327,Private room,150,1,0,NaN,NaN,1,365,150
24,12048,LowerEastSide apt share shortterm 1,7549,Ben,Manhattan,Lower East Side,40.71401,-73.98917,Shared room,40,1,219,2019-11-13,1.67,4,226,40
25,12192,ENJOY Downtown NYC!,46978,Edward,Manhattan,East Village,40.72290,-73.98199,Private room,40,2,262,2020-03-17,1.99,2,46,40
26,12343,BEST BET IN HARLEM,47727,Earl,Manhattan,Harlem,40.81175,-73.94478,Entire home/apt,150,7,107,2019-12-07,0.83,1,364,150
27,12627,Entire apartment in central Brooklyn neighborh...,49670,Rana,Brooklyn,Prospect-Lefferts Gardens,40.65944,-73.96238,Entire home/apt,95,30,13,2019-12-05,0.36,1,156,95
28,12937,"1 Stop fr. Manhattan! Private Suite,Landmark B...",50124,Orestes,Queens,Long Island City,40.74771,-73.94740,Private room,130,2,280,2020-03-15,2.26,1,246,130
29,12940,Charming Brownstone 3 - Near PRATT,50148,Adreinne,Brooklyn,Bedford-Stuyvesant,40.68111,-73.95591,Entire home/apt,100,5,66,2020-03-02,0.51,1,19,100
30,13050,bright and stylish duplex,50846,Jennifer,Brooklyn,Bedford-Stuyvesant,40.68554,-73.94090,Entire home/apt,120,3,12,2019-07-13,0.10,1,137,120
31,13121,(E) RIGHT ON BUDGET,27848,Jullett,Queens,Jamaica,40.67117,-73.76576,Private room,75,2,65,2018-05-28,0.53,6,365,75
32,13394,Fort Greene brownstone,52335,Alexander,Brooklyn,Fort Greene,40.69142,-73.97376,Private room,70,1,143,2020-03-19,1.11,1,170,70
33,13677,Beautiful Attic bedroom Chelsea!,53621,Monica,Manhattan,Chelsea,40.74395,-73.99451,Private room,150,2,69,2014-01-06,0.58,3,365,150
34,13808,Blue Room for 2 in Brownstone for $1350 monthly,54275,JT And Tiziana,Brooklyn,Bedford-Stuyvesant,40.68064,-73.94039,Private room,81,2,141,2020-07-12,1.14,3,339,81
35,14290,* ORIGINAL BROOKLYN LOFT *,56104,James,Brooklyn,Williamsburg,40.70420,-73.93560,Entire home/apt,131,3,95,2020-05-28,0.73,1,164,231
36,14314,Greenpoint Place...Has It All!,56246,Jeanne,Brooklyn,Greenpoint,40.73506,-73.95392,Entire home/apt,150,2,180,2020-03-14,6.59,1,0,150
37,14322,Beautiful Apartment in Manhattan!!!,56284,Francesca,Manhattan,Kips Bay,40.73961,-73.98074,Entire home/apt,200,7,20,2019-12-31,0.20,1,358,200
38,14377,Williamsburg 1 bedroom Apartment,56512,Joanna,Brooklyn,Williamsburg,40.70881,-73.95930,Entire home/apt,175,10,113,2020-01-24,0.87,1,165,275
39,14991,"Great Location, Manhattan Bedroom!",59023,Bianca,Manhattan,Lower East Side,40.72004,-73.99104,Private room,110,5,19,2019-05-18,0.15,1,365,110
40,15220,Best Location in NYC! TIMES SQUARE!,59734,Luiz,Manhattan,Hell's Kitchen,40.75531,-73.99293,Private room,69,2,325,2020-07-19,2.51,2,341,69
41,15341,Bright Nolita Apt w Doorman & Elevator*,60049,Ted,Manhattan,Nolita,40.72297,-73.99684,Entire home/apt,150,7,25,2019-10-07,0.30,1,90,150
42,15385,"Very, very cozy place",60252,Cristina,Brooklyn,Williamsburg,40.71185,-73.96204,Private room,80,7,49,2020-02-07,0.39,1,229,180
43,15396,Sunny & Spacious Chelsea Apartment,60278,Petra,Manhattan,Chelsea,40.74623,-73.99530,Entire home/apt,375,14,5,2018-11-03,0.09,1,157,375
44,15711,2 bedroom Upper East Side (pool closed For Covid),61491,D,Manhattan,Upper East Side,40.77065,-73.95269,Entire home/apt,180,29,83,2020-07-08,0.64,2,341,180
45,15962,An East Village winter adventure!,62407,Edward,Manhattan,East Village,40.72360,-73.98466,Entire home/apt,130,3,58,2015-11-18,0.46,1,88,130
46,16050,Penthouse share - 3 month minimum stay required,62654,Cathy,Manhattan,Hell's Kitchen,40.76640,-73.98354,Private room,65,1,0,NaN,NaN,1,365,65
47,16326,Comfortable 4-bedroom apt in family house.,63588,Dimitri,Brooklyn,Prospect Heights,40.67811,-73.96428,Entire home/apt,130,30,150,2020-06-27,1.24,2,321,130
48,16338,Double Room w Private Deck Clinton Hill Best Area,63613,Patricia,Brooklyn,Clinton Hill,40.69000,-73.96788,Private room,55,7,28,2020-04-01,0.22,2,264,55
49,16421,Your Heaven in Hells Kitchen,63924,Mark,Manhattan,Hell's Kitchen,40.75979,-73.99119,Private room,55,30,196,2020-08-14,1.51,1,364,55
50,16458,Light-filled 2B duplex in the heart of Park Sl...,64056,Sara,Brooklyn,Park Slope,40.67343,-73.98338,Entire home/apt,250,3,4,2017-09-24,0.11,1,0,250
51,16580,"Sunny, Modern room in East Village!",64442,Reka,Manhattan,East Village,40.72649,-73.97904,Private room,72,1,406,2020-07-21,4.77,1,155,72

In [29]:
# 6. What % of the rooms are private, and what % of the rooms are shared.  

private_room=df['room_type']=='Private room'
df_priv=df[private_room]
private_roomper=((df_priv['room_type'].sum())/(df['room_type'].sum()))*100
print(private_roomper)

TypeError: unsupported operand type(s) for /: 'str' and 'str'

# Exercise 3 - Grouping

1. Using `groupby`, count how many listings are in each neighbourhood_group.


2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 


3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 


4. Using `groupby`, find the median price for each room type in each neighbourhood_group.


5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices for each room type in each neighbourhood_group.

In [37]:
# 1. Using `groupby`, count how many listings are in each neighbourhood_group.

group_by_neighbourhood=df.groupby('neighbourhood_group')

In [38]:
# 2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 
group_by_neighbourhood=df.groupby('neighbourhood_group')
group_by_neighbourhood['price'].mean()

neighbourhood_group
Bronx             92.751479
Brooklyn         120.225258
Manhattan        191.880466
Queens            99.754965
Staten Island    110.947214
Name: price, dtype: float64

In [39]:
# 3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 

group_by_neighbourhood=df.groupby('neighbourhood_group')
group_by_neighbourhood['price'].agg(['min','max'])

                     min    max
neighbourhood_group
Bronx                 16   1404
Brooklyn               0  10000
Manhattan              0  10000
Queens                 0  10000
Staten Island         19   1200

In [42]:
# 4. Using `groupby`, find the mean price for each room type in each neighbourhood_group.

cols=['room_type','neighbourhood_group']
group_by_two=df.groupby(cols)
group_by_two['price'].median()

room_type        neighbourhood_group
Entire home/apt  Bronx                  103.0
                 Brooklyn               135.0
                 Manhattan              165.0
                 Queens                 115.0
                 Staten Island          111.0
Hotel room       Brooklyn               129.0
                 Manhattan              210.0
                 Queens                 149.0
Private room     Bronx                   55.0
                 Brooklyn                60.0
                 Manhattan               80.0
                 Queens                  55.0
                 Staten Island           55.0
Shared room      Bronx                   44.0
                 Brooklyn                36.0
                 Manhattan               60.0
                 Queens                  40.0
                 Staten Island           38.0
Name: price, dtype: float64

In [43]:
# 5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices 
# for each room type in each neighbourhood_group.

cols=['room_type','neighbourhood_group']
group_by_two=df.groupby(cols)
group_by_two['price'].agg(['count','min','max','mean','median','std'])

                                     count  min    max        mean  median  \
room_type       neighbourhood_group
Entire home/apt Bronx                  415   25   1404  138.004819   103.0
                Brooklyn              9112   20  10000  171.587687   135.0
                Manhattan            12209    0  10000  231.335572   165.0
                Queens                2090   10  10000  150.168900   115.0
                Staten Island          172   39   1200  151.720930   111.0
Hotel room      Brooklyn                30    0    399  147.300000   129.0
                Manhattan              351    0   2211  292.515670   210.0
                Queens                  17    0    249  139.058824   149.0
Private room    Bronx                  722   16    700   68.419668    55.0
                Brooklyn              9159   10   2500   71.291189    60.0
                Manhattan             7601   10  10000  128.277069    80.0
                Queens                3499   18   9000   69.972564    55.0
                Staten Island          163   20    800   70.312883    55.0
Shared room     Bronx                   46   20    800   66.391304    44.0
                Brooklyn               331   15   1500   57.870091    36.0
                Manhattan              419   10  10000  111.735084    60.0
                Queens                 185   14   3000   89.891892    40.0
                Staten Island            6   19     82   46.000000    38.0

                                            std
room_type       neighbourhood_group
Entire home/apt Bronx                126.032106
                Brooklyn             236.732843
                Manhattan            410.306439
                Queens               252.606739
                Staten Island        147.518392
Hotel room      Brooklyn              91.153206
                Manhattan            315.924085
                Queens                50.743806
Private room    Bronx                 57.337866
                Brooklyn              69.023165
                Manhattan            448.677306
                Queens               163.814468
                Staten Island         70.759593
Shared room     Bronx                114.442703
                Brooklyn              92.217618
                Manhattan            502.728868
                Queens               275.675158
                Staten Island         28.446441

# Join and file saving.
1. Load the `prices.csv` and the `n_listings.csv`


2. Do join that keeps all the records for each table.
    * Neighbourhood groups should include ['Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island',
       'LongIsland']
       
       
3. Save your joined csv as `joined.csv`


4. Load your saved table and see if it looks the same or different that the DataFrame you used to create it.

In [44]:
# 1. Load the `prices.csv` and the `n_listings.csv`

dfprices=pd.read_csv('data/prices.csv')
dfprices

  neighbourhood_group   mean_price
0               Bronx    92.751479
1            Brooklyn   120.225258
2           Manhattan   191.880466
3              Queens    99.754965
4       Staten Island   110.947214

In [46]:
dfn_listings=pd.read_csv('data/n_listings.csv',sep=';')
dfn_listings

  neighbourhood_group  n_listings
0               Bronx        1183
1            Brooklyn       18632
2           Manhattan       20580
3          LongIsland        4121

In [54]:
# 2. Do join that keeps all the records for each table.
dfjoin=pd.merge(dfprices,dfn_listings, on='neighbourhood_group', how='outer')

dfjoin

  neighbourhood_group   mean_price  n_listings
0               Bronx    92.751479      1183.0
1            Brooklyn   120.225258     18632.0
2           Manhattan   191.880466     20580.0
3              Queens    99.754965         NaN
4       Staten Island   110.947214         NaN
5          LongIsland          NaN      4121.0

In [55]:
save_as='joined.csv'
dfjoin.to_csv(save_as,index=False)

! open .

In [61]:
df_newjoined=pd.read_csv('joined.csv',sep=';')
df_newjoined

  neighbourhood_group, mean_price,n_listings
0             Bronx,92.75147928994085,1183.0
1        Brooklyn,120.22525762129668,18632.0
2        Manhattan,191.8804664723032,20580.0
3                  Queens,99.75496460024176,
4          Staten Island,110.94721407624634,
5                         LongIsland,,4121.0

# Use the grammys.csv data for the next section of questions.

1. Who was won Album of the Year in 2016?


2. Who won Best Rap Album in 2009?


3. How many awards was Kendrick Lamar nomiated for, and how many did he win...?

In [62]:
#  1. Who was won Album of the Year in 2016?
df_grammys=pd.read_csv('data/grammys.csv')
df_grammys

,year,category,nominee,workers,winner
0,1959,Album of the Year,The Music from Peter Gunn.,Henry Mancini,True
1,1959,Best Album Cover,Only the Lonely,Frank Sinatra (art director),True
2,1959,Best Arrangement,The Music From Peter Gunn,Henry Mancini (artist/arranger),True
3,1959,Best Classical Performance - Chamber Music (in...,Beethoven: Quartet 130,"The Hollywood String Quartet, Paul Shure (arti...",True
4,1959,Best Classical Performance - Instrumentalist (...,Segovia Golden Jubilee,AndrÃ©s Segovia,True
...,...,...,...,...,...
6318,2019,Record of the Year,Rockstar,"Post Malone (artist), 21 Savage (artist), Loui...",False
6319,2019,Song of the Year,This is America (Childish Gambino),"Ludwig GÃ¶ransson (songwriter), Young Thug (son...",True
6320,2019,Song of the Year,The Joke (Brandi Carlile),"Brandi Carlile (songwriter), Dave Cobb (songwr...",False
6321,2019,Song of the Year,Boo'd Up (Ella Mai),"Ella Mai (songwriter), Larrance Dopson (songwr...",False
6322,2019,Song of the Year,In My Blood (Shawn Mendes),"Shawn Mendes (songwriter), Teddy Geiger (songw...",False

In [74]:
year_selection=df_grammys['year']==2016
df_gram=df_grammys[year_selection]
category_selection= df_gram['category']=='Album of the Year'
df_new_gram=df_gram[category_selection]
df_new_gram

# winner selection 

winner=df_new_gram['winner']==True
df_winner=df_new_gram[winner]
df_winner

,year,category,nominee,workers,winner
5505,2016,Album of the Year,1989.,"Taylor Swift (artist/producer), Jack Antonoff ...",True

In [93]:
# 2. Who won Best Rap Album in 2009?
year_filter=df_grammys['year']==2009
df_year=df_grammys[year_filter]
category_filter= df_year['category']=='Best Rap Album'
df_best_rap=df_year[category_filter]
df_best_rap

# winner selection 


winner=df_best_rap['winner']==True
df_winner=df_best_rap[winner]
df_winner

      year        category         nominee     workers  winner
4396  2009  Best Rap Album  Tha Carter III  Lil' Wayne    True

In [95]:
# 3. How many awards was Kendrick Lamar nomiated for, and how many did he win...?


kendrick=df_grammys['workers']=='Kendrick Lamar'
df_kendrick=df_grammys[kendrick]
df_kendrick
#number of nominations
len(df_kendrick)




#win

6

In [97]:
win_filter=df_kendrick['winner']==True
win_number=df_kendrick[win_filter]
win_number #can print the winning df 
len(win_number) # count of winning

4